.custumizator{
    display: flex;
    flex-direction: column;
}
.submit{
    width: 90px;
}
.fileChoose{
    position: absolute;
    right: 200px;
    top: 50px;
}
.text{
    width: 25px;
}
.divcustum{
    position: absolute;
    bottom: 100px;
    right: 620px;
}
#canvas{
position: absolute;
right: 530px ;
bottom: 235px;    
}
.all{
    height: 50px;
}
#fileChoose{
    position: absolute;
    left: 850px;
    top: 40px;
}